#mobile,
#tablet,
#laptop,
#big-screen {
  display: none;
}
* {
  font-family: arial;
  text-align: center;
}
h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

@media (max-width: 430px) {
  #mobile {
    display: block;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 16px;
  }
}

@media (min-width: 431px) and (max-width: 768px) {
  #tablet {
    display: block;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #laptop {
    display: block;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
}
@media (min-width: 1025px) {
  #big-screen {
    display: block;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 32px;
  }
}
