@import url("https://fonts.googleapis.com/css2?family=Forum&family=Open+Sans:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
}
.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}
.navbar a:hover {
  border-bottom: #28a745 2px solid;
}
.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}
