/* text colors */
.text-primary {
  color: #28a745;
}

.text-secondary {
  color: #0284d0;
}

/* button */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary {
  background: #28a745;
  color: #fff;
}

.btn-secondary {
  background: #0284d0;
  color: #fff;
}
.btn-dark {
  background: #333;
  color: #fff;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}
