* {
  color: white;
}
div {
  background-color: grey;
  border: 2px solid rgb(255, 255, 255);
}

.container{
    display: flex;
}
@media (max-width:430px) {
    .container{
        flex-direction: column;
    }
}