.parent-box {
  background-color: red;
  width: 50vw;
  height: 50vh;
}

.parent-box:after {
  content: "";
  background-color: purple;
  width: 25vw;
  height: 50vh;
  position: absolute;
  z-index: 1;
}
