.card-component {
  width: 400px;
  background-color: rgb(245, 236, 194);
  box-shadow: 0px 3px 18px rgb(100, 100, 100);
}

.card-component img {
  width: 400px;
}

#links a {
  color: rgb(120, 120, 22);
  font-weight: bold;
}
