.container {
  background-color: black;
  width: 50vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  z-index: 2;
}
.border {
  border: 4px solid red;
  width: 25vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border:before {
  content: "";
  position: absolute;
  width: 40vw;
  height: 8vh;
  background-color: rgb(0, 0, 0);
}

.border:after {
  content: "";
  position: absolute;
  width: 18vw;
  height: 28vh;
  background-color: rgb(0, 0, 0);
}
