* {
  box-sizing: border-box;
  margin: 3px auto;
}
.box {
  max-width: 70%;
  border: 1px solid;
}

header,
footer {
  text-align: center;
  padding: 10px;
}

aside {
  text-align: left;
  background-color: green;
  padding: 5px 40px 70px 6px;
}

main {
  text-align: right;
  background-color: purple;
  padding: 5px 6px 70px 40px;


}

header {
  background-color: orange;
}
footer {
  background-color: rgba(48, 98, 236, 0.963);
}
