* {
  padding: 0;
  margin: 0;
}

.first-box {
  background-color: rgb(121, 205, 230);
  width: 25vw;
  height: 25vh;
}

.first-box::before {
  content: "";
  background-color: rgb(17, 4, 136);
  width: 25vw;
  height: 25vh;
  position: absolute;
}

.first-box:hover::before {
  animation-name: animate1;
  animation-duration: 2s;
  /* animation-fill-mode: forwards; */
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes animate1 {
  to {
    width: 0vw;
  }
}
