html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding-top: 1rem;
}

body {
  font-family: "Open Sans", sans-serif;
}
.container {
  background-image: url(./assets/sm-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  --navbar-color: #55575b;
  background: var(--navbar-color);
  border-radius: 5px;
  overflow: auto;
  position: sticky;
  top: 0;
}
li a {
  color: white;
  font-size: 2rem;
  padding: 0px 20px;
}
#home-page img {
  max-width: 200px;
}

.info-section h1 {
  font-size: 3rem;
  text-align: center;
}
.card {
  /* Add shadows to create the "card" effect */
  --box-shadow-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 var(--box-shadow-color);
  transition: 0.3s;
  /* max-width: 529px; */
  /* padding: 10px; */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 var(--box-shadow-color);
}

.card-info h2 {
  font-size: 4rem;
}

.card-info img {
  /* width: 500px; */
}

.card-info p {
  --card-color: rgb(19, 113, 53);
  color: var(--card-color);
  font-weight: 1000;
  font-size: 2rem;
  font-weight: 900;
}

p {
  font-size: 25px;
}

#links {
  font-size: 50px;
  line-height: 5rem;
  /* float: left; */
  /* width: 50%; */
}

ul {
  list-style: none;
}

.info-section a {
  font-size: 40px;
  --info-section-color: rgb(22, 77, 7);
  color: var(--info-section-color);
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.project-btn {
  border: 1px solid black;

  border-radius: 12px;
}
