body {
  background-color: rgb(255, 255, 198);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 100vh;
}
.box {
  display: inline-block;
  width: 200px;
  height: 200px;
}
#box1 {
  background-color: green;
}
#box2 {
  background-color: blue;
}
#box3 {
  background-color: red;
}
